<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Trail Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <!----font-Awesome----->
    <link rel="stylesheet" href="/static/fonts/css/font-awesome.min.css">
    <!----font-Awesome----->
</head>
<body>
<div class="top-header">
    <div class="container" align="right">
        <!--<input type="button" value="登录" style="background: #91b817">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="注册"  style="background: #91b817">-->
        <a href="" style="color: black;font-weight: bold;">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="color: black;font-weight: bold;">注册</a>
        <span class="m_2"></span>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="bottom-header">
    <div class="container">
        <div class="header_top-responsive">
            <div class="logo_responsive"><a href="index.html"><img src="/static/images/logo1.png" alt=""/> </a></div>
            <div class="search_responsive">
                <input type="text" value="Enter a keyword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter a keyword...';}">
                <input type="submit" value="">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="h_menu4"><!-- start h_menu4 -->
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li class="active"><a href="index.html">视频</a></li>
                <li><a href="about.html">新闻</a></li>
                <!--<li class="logo"><a href="index.html"><img src="/static/images/logo.png" alt=""/></a></li>-->
                <li><a href="" style="color: red;font-size: 75px;font-family: 华文行楷">羽之翼</a></li>
                <li><a href="contact.html">商城</a></li>
                <li><a href="services.html">个人中心</a>
                    <ul>
                        <li class="last"><a href="services.html">个人主页</a></li>
                        <li><a href="services.html">修改资料</a></li>
                    </ul>
                </li>
            </ul>
            <script type="text/javascript" src="/static/js/nav.js"></script>
        </div><!-- end h_menu4 -->
        <div class="search">
            <input type="text" value="Enter a keyword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter a keyword...';}">
            <input type="submit" value="">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="wrap-box"></div>
<!-- FlexSlider -->

<!-- FlexSlider -->
<div>
    {__CONTENT__}
</div>


<div class="footer_top text-center">
    <div class="container">
        <div class="col-xs-4">
            <div class="fb">
                <a href="#"><i class="fa fa-facebook fb1"></i>
                    <br><span>Facebook</span>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="fb">
                <a href="#"><i class="fa fa-twitter fb1"></i>
                    <br><span>Twitter</span>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="fb">
                <a href="#"><i class="fa fa-google-plus fb1"></i>
                    <br><span>Google</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer_bottom">
    <div class="container">
        <div class="col-md-4 box_3">
            <h3>About Us</h3>
            <ul id="general-info">
                <li><i class="fa fa-gamepad"> </i> </i>On the other hand, we denounce</li>
                <li><i class="fa fa-trophy"> </i>At vero eos et accusamus et iusto </li>
                <li><i class="fa fa-clock-o"> </i>But I must explain to you how all</li>
            </ul>
        </div>
        <div class="col-md-4 box_3">
            <h3>Twitter Widget</h3>
            <div class="footer-list">
                <ul>
                    <li class="list_top"><i class="fa fa-twitter twt"></i>
                        <p>Lorem ipsum <span class="yellow"><a href="#">consectetuer</a></span>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatu</p></li><p></p>
                </ul>
            </div>
        </div>
        <div class="col-md-4 box_3">
            <h3>Contact Info</h3>
            <ul id="general-info">
                <li><i class="fa fa-mobile mobile1"> </i> </i> </i></li>
                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@mycompany.com">info(at)mycompany.com</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <div class="copy">
            <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
    </div>
</div>
<link href="/static/css/flexslider.css" rel='stylesheet' type='text/css' />
<script defer src="/static/js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(function(){
        SyntaxHighlighter.all();
    });
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>

</body>
</html>